#booking_form_div{
    margin-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 100px;
}

#table_form{
    background-color: rgb(0, 0, 0);
    width: 700px;
    height: 300px;
    padding:30px;
    
}

